.cv-section {
    --background-cv-sec : #6B7280; 
    --padding-inside-cv: 40px;
    --titles-font: 1.2em;
    --titles-weight: 500;

    flex: 1;
    box-shadow: var(--box-shodow-value);

    display: flex;
    flex-direction: column;
}

.cv-section .head-cv {
    height: 18vh;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    align-items: center;

    background-color: var(--background-cv-sec);
    color: white;
}


.head-cv .full-name {
    font-size: 2em;
    font-weight: 600;
    border-bottom: 3px solid white;
}

.head-cv .profession {
    margin-top: 4px;
    font-size: 1.2em;
}

.nav-cv {
    background-color: #dce2eb;
    padding: 0 var(--padding-inside-cv);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;

    font-size: var(--titles-font);
    font-weight: var(--titles-weight);
}

.nav-cv div {
    display: flex;
    gap: 16px;
}

.nav-cv img {
    width: 24px;
}

.cv-content {
    padding: var(--padding-inside-cv);
    display: flex;
    flex-direction: column;
    gap: 24px
}
/* section likes Profile, Experience , ... */
.information-section {
    --titles-font: 1.4em;
    display: flex;
    flex-direction: column;
}

.information-section .title {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    font-size: var(--titles-font);
    font-weight: var(--titles-weight);
    border-bottom: 4px solid var(--background-cv-sec);
    margin-bottom: 10px;
}

.information-section .title img {
    width: 38px;
}

.title + p , 
.cv-card .details {
    font-size: 1.1em;
}

/* for cards container under Experience, Education */
.information-section .cards-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.information-section  .cv-card {
    --font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cv-card .head {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 24px;

    font-size: 1.3em;
}

.cv-card .head > * {
    font-weight: var(--font-weight);
}

.cv-card .head .company-name {
    font-style: italic;
}

.cv-card .head .duration {
    --font-weight: 400;
}

.cv-card .degree {
    font-size: 1.2em;
    font-weight: var(--font-weight);
}

.school-career {
    display: flex;
    gap: 16px;
    font-size: 1.1em;
}
