.cv-section {
    --background-cv-sec : #6B7280;

    flex: 1;
    box-shadow: var(--box-shodow-value);

    display: flex;
    flex-direction: column;
}

.cv-section .head-cv {
    height: 18vh;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    align-items: center;

    background-color: var(--background-cv-sec);
    color: white;
}


.head-cv .full-name {
    font-size: 2em;
    font-weight: 600;
    border-bottom: 3px solid white;
}

.head-cv .profession {
    margin-top: 4px;
    font-size: 1.2em;
}

/* frp test */
.cv-section > * {
    border: 1px solid black;
}
