.main {
    --box-shodow-value:  2px 12px 51px -14px rgba(0,0,0,0.57);
    --border-value: 0.5px solid rgba(128, 128, 128, 0.582);
    flex: 1;
    padding: 48px;
    display: flex;
    align-items: start;
    gap: 32px;
}

/* styles for edit section */
.edit-section {
    --background-edit-sec : rgba(53, 113, 224, 0.25);

    width: 40vw;
    border-radius: 4px;
    border: var(--border-value);

    display: flex;
    flex-direction: column;
}

.edit-section > * {
    border-bottom: var(--border-value);
}

.edit-section > *:last-child {
    border-bottom: none;
}


.edit-section .head  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-size: 1.2em;
    min-height: 56px;
}

.head > div {
    width: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.head > div img {
    width: 100%;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.open > div img {
    transform: rotate(0deg);
}

.open {
    background-color: var(--background-edit-sec);
    border: none;
    outline: 5px solid rgba(45, 128, 224, 0.5);
}

/* styles for forms inside edit section */
.forms {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.forms > * {
    overflow: hidden;
}

.forms form button {
    background-color: var(--background-edit-sec);
}

.visible {
    grid-template-rows: 1fr;
}

.cv-section {
    flex: 1;
    box-shadow: var(--box-shodow-value);
}


